section {
    background-color: gainsboro;
    width: 180vh;
}

.hero {
    background-image: url("src/images/BG2.jpg");
    height: 400vh;
    width: 200vh;
    color: black;
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    list-style-type: none;
    width: 900px;
    justify-content: space-between;
    font-size: 22px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 30px;
    margin: 5;
}

p {
    margin: 30;
    font-size: 20px;
    width: 400px;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.hero-text {
    margin-left: 20px;
}

.button {
    font-size: 20px;
    width: 150px;
    height: 30px;
    border-radius: 100px;
    background-color: gainsboro;
    text-align: center;
    padding-top: 10px;
    margin-top: 40px;
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
    display: flex;
    list-style-type: none;
    width: 300px;
    justify-content: space-between;
    font-size: 40px;
}

.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
}

.headshot {
    width: 300px;
    border-radius: 120px;
}

.headshot-container {
    display: flex;
    align-items: center;
    width: 100px;
}

.project-card {
    width: 250px;
    height: 400px;
    box-shadow: 5px 5px 20px rosybrown;
    margin: 30px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.project-image {
    margin-top: 20px;
    width: 250px;
    border-radius: 200px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

